* {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    font-size: 16px;
    overflow-x: hidden;
   
}

  
  /* Header Section */
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px 5%;
    position: fixed;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  

  .navbar {
    display: flex;
    gap: 5px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: rgb(221, 103, 123);
  }
  
/* Home Section */
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 0 10%;
  text-align: left;
}

.name{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.myName { 
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  overflow-y: hidden;
}

.span1, .span2{
  font-size: 150px;
  display: inline-block;
  transition: transform 0.3s ease;
  background: transparent;
  text-shadow: 10px 10px rgba(221, 103, 123, 0.527);
}

.span1:hover  {
  transform: rotate(30deg);
}

.span2:hover  {
  transform: rotate(-15deg);
}


.personalInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.personalInfo p{
  color: white;
}
.home-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.homeButton {
  display: inline-flex;
  align-items: center;
  border: 2px solid rgba(221, 103, 123, 0.527);
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.homeButton:hover {
  background-color: rgba(0, 0, 0, 0.527);
  color: rgb(255, 255, 255);
  border: 2px solid white;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.download-cv img {
  width: 18px;
  height: 18px;
}

/* Background Section */
.background {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 10%;
  text-align: center;
}

.college, .shs, .intern, .bootcamp {
  flex: 1 1 40%;
  max-width: 1000px;
  height: 200px;
  box-shadow: 0px 2px rgba(255, 255, 255, 0.252);
  border-radius: 10px;
  padding: 25px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow-y: hidden;
}

.college:hover, .shs:hover, .intern:hover , .bootcamp:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(221, 103, 123, 0.527);
}

.bgTitle {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(221, 103, 123, 0.527);
  display: inline-block;
  padding-bottom: 5px;
}

.program {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.sch, .company {
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin: 5px 0;
  border-top: 1px solid rgba(221, 103, 123, 0.527);
}

.gpa{
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin: 5px 0;
}

/* Skills Section */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 10%;
  
}

.skillHeader {
  color: white;
  margin-bottom: 20px;
  font-size: 70px;
  text-align: center;
}

.skillSet {
  box-shadow: 1px 1px 1px  1px rgba(221, 103, 123, 0.527);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex: 1;
  max-width: 100%;
  flex-direction: column;
}

.skillEnd {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

.skillTitle {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.skillType {
  display: flex;
  align-items: center;
  width: 200px;
  margin: 10px;
}

.skillType img.tech-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.skillType span {
  font-size: 16px;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

  
/* Projects Section */
.projects {
  padding: 5% 5%;
  text-align: left;
  color: white;
}

.projects h1 {
  color: white;
  font-size: 36px;
  text-align: center;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project {
 
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 4px 10px rgba(221, 103, 123, 0.527);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(221, 103, 123, 0.527);
}

.project-image {
 
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project-name {
 
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.devInfo{
  display: flex;
  gap: 20px;
}
.devInfo span{
  color: rgb(221, 103, 123);
}
.date-developed, .position {
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin:5px 0px;
 
}
.position{
 margin-bottom: 20px;
}
.description {
  
  font-size: 16px;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: justify;
}

.tech-stack {
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 50px;
  overflow-y: hidden;
}

.tech-stack span {
  background-color: rgb(221, 103, 123);
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 14px;
  margin-right: 5px;
  
}

/* Links Styling */
.links{
  display: flex;
  gap: 50%;
  margin-bottom: 20px;
}
.gitRepo{
  display: flex;
}

.links img{
  width: 30px;
  height: 20px;
  padding-right: 10px;
}
.project a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.project a:hover {
  color: white;
}

.project-link{
  color:  rgb(221, 103, 123);
}

/* Contact Section */
.contact {
  padding: 5% 5%;
  color: white;
  background-color: #1e1e1e;
}

.contact h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.contact-description {
  flex: 1;
  text-align: left;
  max-width: 500px;
}

.contact-description h4 {
  font-size: 16px;
  margin: 10px 0;
}

.contact-description a {
  color: #00b7ff;
  text-decoration: none;
}

.contact-description a:hover {
  color: #00d8ff;
}

/* Contact Section */
.contact {
  padding: 40px;
  color: white;
  border-radius: 10px;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: transparent;
}

.contact h2 {
  font-size: 36px;
  color: rgb(221, 103, 123);
  margin-bottom: 20px;
  font-weight: 600;
}

.contact p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.contact h4 {
  font-size: 18px;
  color: #f1f1f1;
  margin-bottom: 15px;
  font-weight: 400;
}

.contact a {
  color:rgba(221, 103, 123, 0.527);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.contact a:hover {
  color: rgb(221, 103, 123);
}



/* Footer Section */
.footer {
    padding: 20px 10%;
    text-align: center;
    color: white;
    margin-top: 30px;
    border-top: 0.5px solid rgba(221, 103, 123, 0.527);
}

.footer h4 {
    font-size: 12px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
}

.footer a {
  font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: rgba(221, 103, 123, 0.527);
}
